.modalOverlay{
    position: absolute;
    display: flexbox;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    background-color: rgba(17, 17, 17, 0.815);

}

/* #calculatorModal{
    position: relative;
    margin: 35vh 30vw;
    width: 30%;
    z-index: 1000;
    background-color: #fff;
    padding: 20px;

} */

#calculatorModal{
    width: 30%;
    height: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 1000;
    padding: 30px;

    background-color: #fff;

}