.blocker{
     z-index: 1000 !important;
 }

 #calculatorModal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 80%;
    /* height: 42%; */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}


@media only screen and (max-width: 600px) {
    #calculatorModal{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 80%;
        height: 65vh;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        overflow-y: scroll;
    }

    #calculatorModal h2{
        font-size: larger;
    }

    .close-modal{
        margin-right: 5vw;
        margin-top: 5vw;
    }
    
}
